/* Import local fonts */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'VT323';
    src: url('/assets/fonts/VT323-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General style */
html,
body {
    height: 100%;
    margin: 0;
}


/* Fade in animations */
@keyframes anim-fade-in {
    from { opacity: 0.00; transform: scale(1.02); }
    50%  { opacity: 0.50; transform: scale(1.10); }
    to   { opacity: 1.00; transform: scale(1.00); }
}

@keyframes anim-fade-in-from-left {
    from { opacity: 0.00; margin-left: -100vw; }
    to   { opacity: 1.00; margin-left:    0vw; }
}

@keyframes anim-fade-in-from-right {
    from { opacity: 0.00; margin-left:  100vw; }
    to   { opacity: 1.00; margin-left:    0vw; }
}

@keyframes anim-fade-in-from-top {
    from { opacity: 0.00; margin-top: -100vh; }
    to   { opacity: 1.00; margin-top:    0vh; }
}

@keyframes anim-fade-in-from-bottom {
    from { opacity: 0.00; margin-top:  100vh; }
    to   { opacity: 1.00; margin-top:    0vh; }
}


/* Fade out animations */
@keyframes anim-fade-out {
    from { opacity: 1.00; }
    to   { opacity: 0.00; }
}

@keyframes anim-fade-out-to-left {
    from { opacity: 1.00; margin-left:    0vw; }
    to   { opacity: 0.00; margin-left: -100vw; }
}

@keyframes anim-fade-out-to-right {
    from { opacity: 1.00; margin-left:    0vw; }
    to   { opacity: 0.00; margin-left:  100vw; }
}

@keyframes anim-fade-out-to-top {
    from { opacity: 1.00; margin-top:    0vh; }
    to   { opacity: 0.00; margin-top: -100vh; }
}

@keyframes anim-fade-out-to-bottom {
    from { opacity: 1.00; margin-top:    0vh; }
    to   { opacity: 0.00; margin-top:  100vh; }
}


/* Swipe in animations */
@keyframes anim-swipe-in-from-left {
    from { transform: translateX(-100vw); }
}

@keyframes anim-swipe-in-from-right {
    from { transform: translateX( 100vw); }
}

@keyframes anim-swipe-in-from-top {
    from { transform: translateY(-100vh); }
}

@keyframes anim-swipe-in-from-bottom {
    from { transform: translateY( 100vh); }
}


/* Swipe out animations */
@keyframes anim-swipe-out-to-left {
    to   { transform: translateX(-100vw); }
}

@keyframes anim-swipe-out-to-right {
    to   { transform: translateX( 100vw); }
}

@keyframes anim-swipe-out-to-top {
    to   { transform: translateY(-100vh); }
}

@keyframes anim-swipe-out-to-bottom {
    to   { transform: translateY( 100vh); }
}


/* Fade in view transitions */
::view-transition-old(fade-in) {
    animation: anim-fade-out 0.25s ease 0.0s;
}

::view-transition-new(fade-in) {
    animation: anim-fade-in 0.25s ease 0.0s;
}

::view-transition-old(fade-in-from-left) {
    animation: anim-fade-out-to-right 0.25s ease 0.0s;
}

::view-transition-new(fade-in-from-left) {
    animation: anim-fade-in-from-left 0.25s ease 0.0s;
}

::view-transition-old(fade-in-from-right) {
    animation: anim-fade-out-to-left 0.25s ease 0.0s;
}

::view-transition-new(fade-in-from-right) {
    animation: anim-fade-in-from-right 0.25s ease 0.0s;
}

::view-transition-old(fade-in-from-top) {
    animation: anim-fade-out-to-bottom 0.25s ease 0.0s;
}

::view-transition-new(fade-in-from-top) {
    animation: anim-fade-in-from-top 0.25s ease 0.0s;
}

::view-transition-old(fade-in-from-bottom) {
    animation: anim-fade-out-to-top 0.25s ease 0.0s;
}

::view-transition-new(fade-in-from-bottom) {
    animation: anim-fade-in-from-bottom 0.25s ease 0.0s;
}


/* Swipe in view transitions */
::view-transition-old(swipe-in-from-left) {
    animation: anim-swipe-out-to-right 0.25s ease 0.0s;
}

::view-transition-new(swipe-in-from-left) {
    animation: anim-swipe-in-from-left 0.25s ease 0.0s;
}

::view-transition-old(swipe-in-from-right) {
    animation: anim-swipe-out-to-left 0.25s ease 0.0s;
}

::view-transition-new(swipe-in-from-right) {
    animation: anim-swipe-in-from-right 0.25s ease 0.0s;
}

::view-transition-old(swipe-in-from-top) {
    animation: anim-swipe-out-to-bottom 0.25s ease 0.0s;
}

::view-transition-new(swipe-in-from-top) {
    animation: anim-swipe-in-from-top 0.25s ease 0.0s;
}

::view-transition-old(swipe-in-from-bottom) {
    animation: anim-swipe-out-to-top 0.25s ease 0.0s;
}

::view-transition-new(swipe-in-from-bottom) {
    animation: anim-swipe-in-from-bottom 0.25s ease 0.0s;
}


/* TODO: how to make this general? */
#root > div {
    opacity: 1;
    margin: 0;
    view-transition-name: var(--swap-animation, none);
}
