/* Import local fonts */
@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* General style */
html,
body {
    height: 100%;
    margin: 0;
}

/* Status bar style */
#utterance {
    margin-left: 0px;
    animation: slide-in 1s;
}

@keyframes slide-in {
    0%   { margin-left: -500px; }
    20%  { margin-left: -500px; }
    35%  { margin-left: 0px; }
    100% { margin-left: 0px; }
}

#spinner {
    visibility: hidden;
    opacity: 0;
    padding: 16px;
    margin-left: auto;
    width: 15vh;
    height: 15vh;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

#spinner.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in-out, visibility 0s linear 0s;
}

#spinner.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

@keyframes fade-in {
    0%   { opacity: 0.00; margin-top:   0vh; transform: scale(1.00); }
    25%  { opacity: 0.25; margin-top: 2.5vh; transform: scale(1.05); }
    50%  { opacity: 0.50; margin-top:   5vh; transform: scale(1.10); }
    75%  { opacity: 1.00; margin-top: 2.5vh; transform: scale(1.05); }
    100% { opacity: 1.00; margin-top:   0vh; transform: scale(1.00); }
}

@keyframes fade-in-from-left {
    0%   { opacity: 0.00; margin-left: -100vw; }
    25%  { opacity: 0.25; margin-left: -100vw; }
    50%  { opacity: 0.50; margin-left:  -50vw; }
    75%  { opacity: 1.00; margin-left:    0vw; }
    100% { opacity: 1.00; margin-left:    0vw; }
}

@keyframes fade-in-from-right {
    0%   { opacity: 0.00; margin-left:  100vw; }
    25%  { opacity: 0.25; margin-left:  100vw; }
    50%  { opacity: 0.50; margin-left:   50vw; }
    75%  { opacity: 1.00; margin-left:    0vw; }
    100% { opacity: 1.00; margin-left:    0vw; }
}

@keyframes fade-in-from-top {
    0%   { opacity: 0.00; margin-top: -100vw; }
    25%  { opacity: 0.25; margin-top: -100vw; }
    50%  { opacity: 0.50; margin-top:  -50vw; }
    75%  { opacity: 1.00; margin-top:    0vw; }
    100% { opacity: 1.00; margin-top:    0vw; }
}

@keyframes fade-in-from-bottom {
    0%   { opacity: 0.00; margin-top:  100vw; }
    25%  { opacity: 0.25; margin-top:  100vw; }
    50%  { opacity: 0.50; margin-top:   50vw; }
    75%  { opacity: 1.00; margin-top:    0vw; }
    100% { opacity: 1.00; margin-top:    0vw; }
}

.fade-in-from-left {
    opacity: 1;
    margin: 0;
    animation: fade-in-from-left 0.5s ease-in-out;
}

.fade-in-from-right {
    opacity: 1;
    margin: 0;
    animation: fade-in-from-right 0.5s ease-in-out;
}

.fade-in-from-top {
    opacity: 1;
    margin: 0;
    animation: fade-in-from-top 0.5s ease-in-out;
}

.fade-in-from-bottom {
    opacity: 1;
    margin: 0;
    animation: fade-in-from-bottom 0.5s ease-in-out;
}

/* TODO: how to make this general? */
#root > div {
    opacity: 1;
    margin: 0;
    animation: fade-in 0.5s ease-in-out;
}
